@model List<Restaurant>
@{
    ViewBag.Title = "Restaurant Listesi";
}
@Html.ActionLink("Restaurant Ekle", "Insert", "Restaurant", null, new { @class = "btn btn-default" })
<hr />
<table class="table table-hover">
    <thead>
        <tr>

            <th>Restorant Adi</th>
            <th>Aciliş Saati</th>
            <th>Kapaniş Saati</th>
            <th>Servis Süresi</th>
            @*<th>Resim</th>*@
            <th>Paket Ücreti</th> 
            <th>Promosyon Bilgisi</th>
            <th>Uyarilar Ve Bilgiler</th>
            
            <th>Durum</th>
            <th>####</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Restaurant item in Model)
        {
            <tr>

                <td>@item.Name</td>
                <td>@item.Working_Hour</td>
                <td>@item.End_Time</td>
                <td>@item.Service_Time</td>
                @*<td>@item.imagePath</td>*@
                <td>@item.Packagefee</td>
                
                <td>@item.Promotionalinformation</td>
                <td>@item.WarningandInformation</td>
                <td>
                    @if (item.Status != Status.Deleted)
                    {
                        <span style="background-color:#1daa1c; font-weight:bold; color:#ffffff; padding:5px 10px;">@item.Status</span>
                    }
                    else
                    {
                        <span style="background-color:#ff0000; font-weight:bold; color:#ffffff; padding:5px 10px;">@item.Status</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Güncelle", "Update", "Restaurant", new { id = item.ID, area ="Administrator" }, null) |

                    @Html.ActionLink("Sil", "Delete", "Restaurant", new { id = item.ID, area = "Administrator" }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

