@model Province

@{
ViewBag.Title = "İl Güncelle";
}

@using (Html.BeginForm("Update", "Province", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.CreatedDate)
    @Html.HiddenFor(m => m.CreatedIP)
    @Html.HiddenFor(m => m.Status)
    @Html.HiddenFor(m => m.ModifiedDate)
    @Html.HiddenFor(m => m.ModifiedIP)

    <div class="form-group">
        <label for="categoryName">İl Adi:</label>
        @Html.TextBoxFor(m => m.ProvinceName, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-default">Güncelle</button>
}
